---
import Layout from "../layouts/Layout.astro";
import services from "../lib/services.json";
import Carousel from '../components/Carousel.svelte'

let data = {
	title: "Jeejoh King", 
	description: "personal website",
};
---

<Layout data={data}>
	<div class="p-10 text-center w-full flex-none">
		<div class="flex flex-wrap items-baseline justify-center mb-10">
			<h1 class="text-4xl lg:text-5xl xl:text-6xl">{data.title}</h1>
			<span class="">—empire</span>
		</div>
		<p class="text-2xl">{data.description}</p>
	</div>

	<Carousel client:load services={services.filter((service) => service.featured)}></Carousel>

	<div class="flex items-center" id="about">
		<div class="w-5/6 sm:w-3/4 lg:w-1/2 flex-none p-4">
			<div class="flex flex-wrap items-baseline mb-10">
				<h2 class="text-4xl lg:text-5xl xl:text-6xl">About</h2>
				<span class="">—me</span>
			</div>
			<p class="text-2xl">
				Jeejoh is a creative artist and branding specialist who is adept at creating waves in both design and music. His captivating sound and powerful brand aesthetic combine strategy and creativity to create a memorable impact. Jeejoh is all about creating art that speaks, whether he's in the studio creating songs or selecting visually striking images. 🎶🔥
			</p>
		</div>
		<div
			class="w-1/6 sm:w-1/4 lg:w-1/2 flex-none shadow-md"
			style="height: 80vh;"
		>
			<img
				class="object-cover h-full w-full"
				src="/images/jeejoh_2.jpg"
				alt="me with a guitar"
			/>
		</div>
	</div>

	<div class="flex items-center" id="contact">
		<div
			class="w-1/6 sm:w-1/4 lg:w-1/2 flex-none shadow-md"
			style="height: 80vh;"
		>
			<img
				class="object-cover h-full w-full"
				src="/images/Jeejoh.png"
				alt="Me"
			/>
		</div>
		<div class="w-5/6 sm:w-3/4 lg:w-1/2 flex-none p-4">
			<div class="flex flex-wrap items-baseline mb-10">
				<h2 class="text-4xl lg:text-5xl xl:text-6xl">Contact</h2>
				<span class="">—me</span>
			</div>
			
			<div class="text-center">
				<p class="text-2xl mb-4">Let's talk! Reach me on WhatsApp:</p>
				<a href="https://wa.me/254799849282" 
				   target="_blank" 
				   class="px-10 py-4 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600 transition">
					📩 Chat on WhatsApp
				</a>
			</div>
		</div>
	</div>
</Layout>
